<!-- Image and text -->
<nav class="navbar navbar-light bg-body-tertiary " style="background-color: #2364b1;">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <img
          src="\assets\_39c9c804-fb1f-490f-a9d2-cc6c2ef4af87.jpeg"
          class="me-2"
          height="50"
          alt="MDB Logo"
          loading="lazy"
          style="border: none; border-radius: 15px;"
        />
       <b style="color: #f4af47; font-size: 30px;"><i>Contact Information</i></b>
      </a>
    </div>
  </nav>
