<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0"  routerLink="/home" routerLinkActive="active">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/user-list" routerLinkActive="active">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">User</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/category-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Categories</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/card-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Card Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/company-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Company Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/org-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Organization Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/change-password" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Change Password</span> </a>
                    </li>
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3">
            <div class="container d-flex justify-content-center align-items-center vh-100">
                <div class="col-md-5">
                  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light">
                    <div class="mb-3">
                      <label for="oldPassword" class="form-label">Old Password</label>
                      <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Enter your old password">
                      <div *ngIf="oldPassword.touched && oldPassword.invalid" class="mt-2 text-danger">
                        <div *ngIf="oldPassword.errors?.['required']">Old password is required.</div>
                      </div>
                    </div>
              
                    <div class="mb-3">
                      <label for="newPassword" class="form-label">New Password</label>
                      <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Enter your new password">
                      <div *ngIf="newPassword.touched && newPassword.invalid" class="mt-2 text-danger">
                        <div *ngIf="newPassword.errors?.['required']">New password is required.</div>
                      </div>
                    </div>
              
                    <div class="mb-3">
                      <label for="confirmPassword" class="form-label">Confirm Password</label>
                      <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm your new password">
                      <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="mt-2 text-danger">
                        <div *ngIf="confirmPassword.errors?.['required']">Confirm password is required.</div>
                      </div>
                      <div *ngIf="confirmPassword.valid && changePasswordForm.errors?.['passwordMismatch']" class="mt-2 text-danger">
                        Passwords do not match.
                      </div>
                    </div>
              
                    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
                    <button type="submit" class="btn btn-primary mt-3 w-100" (click)="onSubmit()">Change Password</button>
                  </form>
                </div>
              </div>
              
        </div>
    </div>
</div>


