<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0" routerLink="/home" routerLinkActive="active">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/user-list" routerLinkActive="active">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">User</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/category-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Categories</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/card-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Card Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/company-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Company Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/org-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Organization Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/change-password" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Change Password</span> </a>
                    </li>
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3">
            <div class="container mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Categories List</h5>
                        <a class="btn btn-secondary mb-3" href="#" routerLink="/add-category" routerLinkActive="active" *ngIf="isAdmin">
                            <i class="fa-solid fa-circle-plus me-1"></i>Add New
                        </a>
                        <form class="d-flex">
                            <input [(ngModel)]="searchQuery" name="searchQuery" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-info" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                          </form>
                          <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead class="table-dark text-center">
                                    <tr>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Category ShortName</th>
                                        <th scope="col" *ngIf="isAdmin">Edit</th>
                                        <th scope="col" *ngIf="isAdmin">Delete</th>
                                        <th scope="col">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let category of category | filter:searchQuery">
                                        <td>{{ category.categoryName }}</td>
                                        <td>{{ category.shortName }}</td>
                                        <td class="text-center" *ngIf="isAdmin">
                                            <button (click)="updateCategory(category.categoryId)" class="btn btn-info">
                                                <i class="fa-solid fa-pen-to-square"></i> 
                                            </button>
                                        </td>
                                        <td class="text-center" *ngIf="isAdmin">
                                            <button (click)="deleteCategory(category.categoryId)" class="btn btn-danger ml-2">
                                                <i class="fa-solid fa-trash"></i> 
                                            </button>
                                        </td>
                                        <td class="text-center">
                                            <button (click)="categoriesDataView(category.categoryId)" class="btn btn-primary ml-2">
                                                <i class="fa-regular fa-eye-slash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>


