<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0" routerLink="/home" routerLinkActive="active">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/user-list" routerLinkActive="active">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">User</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/category-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Categories</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/card-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Card Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/company-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Company Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/org-list" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Organization Details</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" routerLink="/change-password" routerLinkActive="active">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Change Password</span> </a>
                    </li>
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3">
            <div class="container">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Organization Information</h3>
                        <div class="user-details-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">Organization Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>Organization Code:</b></td>
                                        <td>{{organization.orgCode}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Organization Name:</b></td>
                                        <td>{{organization.orgName}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Address1:</b></td>
                                        <td>{{organization.address1}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Address2:</b></td>
                                        <td>{{organization.address2}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>place:</b></td>
                                        <td>{{organization.place}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Pincode:</b></td>
                                        <td>{{organization.pincode}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>TeleEx:</b></td>
                                        <td>{{organization.teleEx}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email:</b></td>
                                        <td>{{organization.email}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Register No:</b></td>
                                        <td>{{organization.regNo}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Date Of Reg:</b></td>
                                        <td>{{organization.dateOfReg}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Grams:</b></td>
                                        <td>{{organization.grams}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Inception Date:</b></td>
                                        <td>{{organization.inceptionDate}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>CST No:</b></td>
                                        <td>{{organization.cstNo}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>GST No</b></td>
                                        <td>{{organization.gstNo}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>CE Code:</b></td>
                                        <td>{{organization.ceCode}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>CER No:</b></td>
                                        <td>{{organization.cerNo}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>DRCL No:</b></td>
                                        <td>{{organization.drclNo}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Form Date:</b></td>
                                        <td>{{organization.fromDate}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Logo:</b></td>
                                        <td>{{organization.logo}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>TDS Account:</b></td>
                                        <td>{{organization.tdsAccount}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Pan GIR:</b></td>
                                        <td>{{organization.panGir}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>PAN EXT:</b></td>
                                        <td>{{organization.panExt}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>EXIM Code:</b></td>
                                        <td>{{organization.eximCode}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>CST Rate:</b></td>
                                        <td>{{organization.cstRate}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>GST Rate:</b></td>
                                        <td>{{organization.gstRate}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Excise Duty Rate:</b></td>
                                        <td>{{organization.exciseDutyRate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" routerLink="/org-list" routerLinkActive="active">
                                <button class="btn btn-success mb-4"><i class='bx bx-arrow-back'></i> Back</button>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


